<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
    <title> drillMap Security Module</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet"> </link>o

</head>
<body>

<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>

<p th:text="'You are using ' + ${technology}" />

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

<script src="js/jquery-2.1.0.min.js"></script>
<script src="js/bootstrap.min.js"></script>

</body>
</html>