# Ignore target at the top level
# matches 'target' in any sub folder
target/
**/target/**
.classpath/
.metadata/
*.tmp
*.bak
*.swp
*~.nib
.classpath
.settings/
.loadpath
temp/

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store

*.iml
.idea/
.idea/libraries/
atlassian-ide-plugin.xml
