<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
    
<head lang="en">
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
    <title> Redirected User Web Application Sample</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet"> </link>

</head>

<body>

    <div class="container">
        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]! to W1 application</h1>

        <p th:text="'You are using ' + ${technology}" /> <br/>        
               
         <form th:action="@{/logout}" method="post">
            <input class="btn btn-xTiny btn-primary" type="submit" value="Sign Out"/>
            <!-- input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/ -->
        </form>
    </div>

    <script src="js/jquery-2.1.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>        

</body>
</html>